// Purple Shades

$purple-900: #4c1d95;
$purple-700: #6d28d9;
$purple-500: #8b5cf6;
$purple-300: #c4b5fd;
$purple-100: #ede9fe;

// Grayscale Shades

$grayscale-900: #121127;
$grayscale-700: #383751;
$grayscale-500: #6c6b80;
$grayscale-300: #d1d1db;
$grayscale-100: #f3f3f6;
