@import "../../../css/colors/colors.scss";
@import "../../../css/typography/typography.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  background-color: $purple-100;
  border-radius: 30px;
  .navbar-logo {
    a {
      color: $grayscale-700;
      font-size: $f-18;
      font-weight: bold;
      text-decoration: none;
    }
  }
  .setting {
    font-size: $f-24;
    margin: 0 1rem;
  }
}
