@import "../../../css/colors/colors.scss";

textarea {
  width: 100%;
  height: 100%;
  font-size: inherit;
  border-radius: 4px;
  &:focus {
    outline: none;
    background-color: $purple-100;
  }
}

input {
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  border: 1px solid $grayscale-500;
  &:focus {
    outline: none;
  }
}
.input-pill {
  border-radius: 100px;
  border: 1px solid $grayscale-500;
}
